*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px 0px;
}

#hero {
  background-image: url(../mamasLiebling/img/background.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}

.header {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 36px;
  -ms-transform: translate(0, -50%);
  /* IE 9 */
  -webkit-transform: translate(0, -50%);
  /* Safari */
  transform: translate(0, -50%);
}

#header1 {
  position: fixed;
  display: block;
  background: lightseagreen;
  height: 100px;
  width: 100%;
  transition: top 1.2s;
  z-index: 3;
  }

.visibility-index {
  visibility: hidden
}

#logo-header {
  width: 68px;
}

nav ul {
    padding-inline-end: 40px;
}

nav li {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    /*border-right: 4px solid rgba(0,0,0);*/
}

.navbar-header ul {
  page-break-after: 5px;
}

.navbar-header li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-header a {
  font-size: 2.4rem;
  position: relative;
  top: -20px;
}


/*.gallery-3 {
  padding-top: 120px;
}

.gallery-3-row {
  position: relative;
  display: flex;
  flex-direction: row;
}*/

#gallery-new-row {
  display: flex;
  flex-direction: row;
}

#gallery-new {
  padding-top: 150px;
}


.circletag {
  position: relative;
  display: block;
  width: 350px;
  height: 350px;
  background: #E6E7ED;
  -moz-border-radius: 350px;
  -webkit-border-radius: 350px;
  /*background-image: url(../img/steffen.jpg);*/
  /*background-position:50% 50%;*/
  background-repeat:no-repeat;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 40px;
}

#circletag1 {
  background-image: url(../img/SteffenBalsam.jpg);
  background-position: 55% 39%;
}
#circletag2 {
  background-image: url(../img/Max.jpg);
  background-position: 25% 50%;
}
#circletag3 {
  background-image: url(../img/Simon.jpg);
  background-position: 50% 50%;
}
#circletag4 {
  background-image: url(../img/Michael.jpg);
  background-position: 50% 50%;
}

#gallery-new-row p {
  width: 70%;
  margin-right: 20px;
  font-family: "Allura-Regular";
  font-size: 2.2rem;
}


#gallery-tatts {
  display: block;
  text-align: center;
}

.first-row {
  padding-top: 105px;
}

#gallery-tatts img {
  margin: 4px;
}


@font-face {
  font-family: "Shadows into light";
  src: url(../fonts/ShadowsIntoLight.ttf) format('truetype');
}

@font-face {
  font-family: "Allura-Regular";
  src: url(../fonts/Allura-Regular.ttf) format('truetype');
}


nav a {
  color: #000000; /*#87CeFa;*/
  font-family: "Shadows into light";
  font-size: 4.4rem;
  /*font-family: Comic Sans MS, cursive, sans-serif;*/
  text-decoration: none;
}

nav a:hover {
    color: #E7E7E7;
}

section div{
  display: flex;
  position: relative;
  top: 150px;
  flex-direction: row;
  justify-content: center;
}

article {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: 25%;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    margin-bottom: 1%;
    background: white;
    border-radius: 2px;
}

article img {
    width: 100%;
}

#content {
  padding: 100px 50px;
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

#content h2 {
  margin: 0px 0px 30px 0px;
}

#footer {
  /*padding: 30px 0px;*/
  text-align: center;
  background: #ddd;
  display: flex;
}

#footer h3 {
  font-family: "Shadows into light";
  font-size: 1.8rem;
  width: 40%;
}

#footer-datenschutz {
  width: 40%;
  position: relative;
  padding-top: 24px;
}

#footer-datenschutz ul{
  display: flex;
}

#footer-datenschutz li{
  list-style: none;
  border-right: 2px solid rgba(0,0,0,0.8);
  padding-left: 8px;
  padding-right: 8px
}

#footer-datenschutz li:last-child {
  border-right: none;
}

#social-media {
  width: 20%;
  position: relative;
  padding-top: 17px
}

#social-media-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-media-2 p {
  padding-right: 10px;
  font-family: "Allura-Regular";
  font-size: 1.4rem;
}

#contact-us {
  padding-top: 130px;
  height: 100%;
}

#contact-us h1 {
  font-family: "Allura-Regular";
  font-size: 4rem;
  margin-left: 13px;
  width: 60%;
  margin-bottom: 17px;
  margin-top: 1px;
}

form {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    /*box-shadow: 0px 3px 8px rgba(0,0,0,0.2);*/
}

input {
    margin-right: 5px;
    font-family: sans-serif;
}

table {
  width: 100%;
  font-family: cursive;
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  font-family: sans-serif;
}




@media screen and (max-width: 1300px) {
  nav a {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 1160px) {
  #gallery-tatts {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  nav a {
    font-size: 2.4rem;
  }
  table {
    width: 100%;
    font-family: cursive;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 940px) {
  nav a {
    font-size: 4.4rem;
  }
  table {
    width: 100%;
    font-family: cursive;
    font-size: 1.0rem;
  }
  .navbar-header a {
    font-size: 2.0rem;
  }
  .navbar-header li {
    padding-left: 20px;
    padding-right: 20px;
  }
  #social-media-2 p {
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 765px) {
  .navbar-header li {
    padding-left: 10px;
    padding-right: 10px
  }
  .navbar-header a {
    font-size: 1.4rem;
  }

  nav a {
    font-size: 2.4rem;
  }

  #footer {
    display: block;
  }
  #footer h3 {
    width: 100%;
    padding-top: 10px;
    margin-block-end: 0em;
    margin-block-start: 0em;
  }
  #footer-datenschutz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0px;
  }
  #footer-datenschutz ul{
    padding-right: 40px;
  }
  #social-media {
    width: 100%;
    padding-top: 0px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    visibility: hidden;
  }
  .navbar-header li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .visibility-index {
    visibility: visible;
  }
  .navbar-header a {
    font-size: 1.0rem;
  }

  #footer {
    display: block;
  }
  #footer h3 {
    width: 100%;
    padding-top: 10px;
    margin-block-end: 0em;
    margin-block-start: 0em;
  }
  #footer-datenschutz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0px;
  }
  #footer-datenschutz ul{
    padding-right: 40px;
  }
  #social-media {
    width: 100%;
    padding-top: 0px;
  }
  #contact-us {
    text-align: center;
  }

}
